@media screen and (max-width: 1439px) {
    .upperLeftBackground,
    .lowerRightBackground {
        display: none;
        visibility: hidden;
    }
}
@media screen and (min-width: 1440px) {
    .upperLeftBackground {
        position: absolute;
        left: 0;
        top: 0;
        width: 584px;
        height: 362px;
    }

    .lowerRightBackground {
        position: absolute;
        right: 0;
        bottom: -146px;
        width: 1085px;
        height: 673px;
    }
}