@media screen and (max-width: 1439px) {
    .heroCopy {

    }

    .heroCopy h1 {
        padding-top: 80px;

        padding-left: 24px;
        padding-right: 24px;
        font-family: 'Spartan', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        /* or 100% */

        text-align: center;
        letter-spacing: -1.14286px;

        color: #512051;

        margin-bottom: 18px;
    }

    .heroCopy span {
        display: inline-block;
        padding-left: 24px;
        padding-right: 24px;

        font-family: 'Spartan', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        /* or 167% */

        text-align: center;
        letter-spacing: -0.5px;

        color: #927B91;
    }
}
@media screen and (min-width: 1440px) {
    .heroCopy {

    }

    .heroCopy h1 {
        font-family: 'Spartan', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -1.71429px;
        color: #512051;
    }

    .heroCopy span {
        margin-top: 6px;
        display: inline-block;
        font-family: 'Spartan', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.5px;
        color: #927B91;
    }
}